#create-task-container {
  max-height: 75vh;
  width: 30vw;
  margin: 1vh;
  background-color: #505263;
  border: 2px solid #b9d2b1;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#create-task-header {
  height: 7vh;
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #b9d2b1;
  font-weight: bold;
}
#create-task-title::placeholder,
#create-task-description::placeholder,
#add-group-member-input::placeholder {
  color: #b9d2b1;
}
#create-task-title,
#create-task-title:-webkit-autofill,
#create-task-title:autofill {
  width: 23vw;
  background-color: #727482;
  border-radius: 20px;
  padding: 15px;
  border: none;
  outline: none;
  margin: 1vh;
  font-size: 15px;
  color: #caa8f5;
  font-weight: bold;
}
#create-task-description,
#create-task-description:-webkit-autofill,
#create-task-description:autofill {
  width: 23vw;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #727482;
  border-radius: 20px;
  padding: 15px;
  border: none;
  resize: none;
  outline: none;
  margin: 2vh;
  font-size: 15px;
  color: #caa8f5;
  font-weight: bold;
}
#create-task-description:focus,
#create-task-title:focus,
#add-group-member-input:focus {
  border: 2px solid #caa8f5;
}
#create-task-button {
  margin: 2vh;
  height: 5vh;
  width: 10vw;
  background-color: #727482;
  color: #caa8f5;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
#create-task-button:focus,
#create-task-button:hover,
#add-group-member-button:focus,
#add-group-member-button:hover {
  outline: none;
  background-color: #caa8f5;
  color: #727482;
}
#create-group-task {
  max-height: 20vh;
  width: 25vw;
  border-radius: 20px;
  outline: 2px solid #b9d2b1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
#add-group-member {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 25vw;
  min-height: 8vh;
}
#add-group-member-header {
  height: 5vh;
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #b9d2b1;
  font-weight: bold;
}
#add-group-member-input {
  width: 15vw;
  background-color: #727482;
  border-radius: 20px;
  padding: 15px;
  border: none;
  outline: none;
  margin: 1vh;
  font-size: 15px;
  color: #caa8f5;
  font-weight: bold;
}
#add-group-member-button {
  height: 3vw;
  width: 3vw;
  background-color: #727482;
  color: #caa8f5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
#group-members-container {
  max-height: 7vh;
  width: 23vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2vh;
}
.group-member-chip {
  height: 3vh;
  width: 7vw;
  margin: 0.5vh;
  border-radius: 20px;
  background-color: #99e5e1;
  color: #505263;
  font-size: 13px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
