#app {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #25283d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#app-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
::-webkit-scrollbar {
  width: 10px;
  border-radius: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #505263;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b9d2b1;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fca17d;
}
